@page
@model WebClient.Pages.ConfirmationModel
@{
    ViewData["Title"] = "Confirmation";
}

<div class="container contact-container">
    <h1 class="mt-4 mb-3">
        Confirmation
    </h1>
    <hr />
    @if (!string.IsNullOrEmpty(Model.Message))
    {
<h3>@Model.Message</h3>}
    <br />
    <p>For more information regarding your order, you can contact us by using the Contact Page.</p>
</div>

<div class="col mb-2">
    <div class="row">
        <div class="col-sm-12  col-md-6">
            <a asp-page="Product" class="btn btn-lg btn-block btn-success">Continue Shopping</a>
        </div>
    </div>
</div>
